body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

#projetos {
  padding: 20px;
}

#lista-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

/* Responsivo */
@media (max-width: 600px) {
  #lista-projetos {
    flex-direction: column;
  }
}
